{{bread-crumbs gitObject=this}}

<ul class="object-container tree-list">
  {{#each filesAsObjects}}
    <li class="tree-item">
      <i {{bind-attr class=":fa icon :tree-icon"}}></i>
      {{link-to name type branchAndPath}}
    </li>
  {{/each}}
</ul>
